/*will update styles when I am confident I know what I'm doing*/

body{
  background-image: url(../images/header-img.jpg);
  background-color: lightblue;
  font-family: 'Caveat', monospace;
  text-align: center;
}

/* used for images before menu bar */
/* will not affect other <img src> */
.img1{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

h1 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 5px 5px 5px;
    background-color: azure;
 }

h2 {text-align: center;
    background-color: slategray;
}

h3 {text-align: center;}

h4 {text-align: center;
    background-color: azure;
    margin: 0em;
}

/* to change how the links are on homepage */
/* still need to vertical center the links within the box*/

a.dif-link:link{
text-decoration: none;
color: black;
}
a.dif-link:visited{
  text-decoration: none;
  color: black;
}
a.dif-link:hover{
  text-decoration: none;
  color: white;
  display: block;
}
a.dif-link:active{
  text-decoration: none;
  color: black;
}

em {color: black;}

.ul-list{
  list-style-type:  none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  /* text-align: justify; */
  color: rgb(139, 97, 25);
  }

footer{
  text-align: center;
  padding: 10px 5px 10px 5px;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  background-color: rgb(66, 135, 214);
}

/* Text inside a circle */
.textBox{
  float: relative;
  border: transparent;
  background: radial-gradient(circle, rgba(236,187,70,1) 11%, rgba(228,166,65,1) 30%, rgba(222,145,60,1) 50%, rgba(151,116,70,1) 100%);
  width: auto;
  height: max-content;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 50%;
  font-size: larger;
  padding: 1% 1% 1% 1%;
}


/*used for the my study journey*/  
.header-text{
  position: relative;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
  font-size: 50px;
}

/*used for the word 'study and Blog' on home page*/
span{
  font-size: 50px;
  font-style: italic;
}
 
  /*used for paragraphs*/
#p-background {
  background-color: lightsteelblue;
  padding: 1px;
  text-align: center;
  font-size: x-large;
  font-style: italic;
  font-weight: bolder;
}

  /*flexbox*/
.container {
  background-color: azure;
  margin: 0px;
  padding: 10px 10px 10px 10px;
  height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  gap: 1rem; 
}

/*flexbox items*/
.blog1, .blog2, .blog3, .blog4, .blog5 { 
  background-color: lightsteelblue;
  
  width: 150px;
  height: 150px;
  flex-grow: 1; 
  flex-shrink: 1;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  list-style-type: none;
  
  border-style: groove;
} 

/*media queries for the different screen sizes*/
@media only screen and (max-width: 768px) {
  h2, span {
    font-size: 35px;}

  .blog1, .blog2, .blog3, .blog4, .blog5 {
    font-size: 150%;}

  h3 {font-size: 30px;}

  .textBox{
    padding: 2% 4% 2% 4%;
    }
} 

@media only screen and (max-width: 320px) {
  h1, h2, span {
    font-size: 30px;}

  .blog1, .blog2, .blog3, .blog4, .blog5 {
    font-size: 120%;}

  h3 {font-size: 20px;}
  
  .mColumn {
    margin-left: 0%;
    margin-right: 0%;
    }
    
  .textBox{
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    font-size: smaller;
    padding: 6% 7% 6% 7%;
  }
}

@media only screen and (min-width: 769px) {
  h1, h2, span {font-size: 50px;
  font-stretch: expanded;}

  h3 {font-size: 40px;}

  #p-background{font-size: 30px;}

  .blog1, .blog2, .blog3, .blog4, .blog5 {
    font-size: 180%;}

    .textBox{
      margin-left: 30%;
      margin-right: 30%;
      padding: 2% 1% 2% 1%;
    }
}

  /*USED FOR INLINE & INLINE BLOCK BLOG  */
  /* Add a black background color to the top navigation */
.menu {
  background-color: rgb(66, 135, 214);
  width:auto;
  position: relative;
}

/* Styles the link inside the navigation bar */
.menu a {
  color: #f2f2f2;
  padding: 11px 26px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

/* Colour changes when you hover over link */
.menu a:hover {
  background-color: #ddd;
  color: black;
}

/* formatting for the inline examples */
.inline {
  list-style-type: none;
  text-align: center;
  background-color: lightcoral;
}

.inline li {
  display: inline;
  padding: 15px;
  font-size: 20px;
  border: solid;
}

/* formatting for the inlineblock examples */
.inlineblock {
  list-style-type: none;
  text-align: center;
  background-color: lightcoral; 
}

.inlineblock li {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  border: solid; 
}

/* used for 2 columns. Inline vs Inline-block */
.responsive {
  max-width: 100%;
  height: auto;
}

/* need this for the display of the columns */
*{box-sizing: border-box;} 

.column {
  border: solid;
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* stretch in height to accommodate contents */
}

.single-column {
  /* border: solid; */
  float: relative;
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 5px 5px 5px 5px;
  height: auto; /* stretch in height to accommodate contents */
  background-color: bisque;
 }

/* Used for 2 column page */
/* puts the first column on top of another when screensize is 425px*/
@media screen and (max-width: 425px) {
  .column {
    width: 100%;}
  }

/* below code used for body of page to be placed centered */
.mColumn {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: auto;
  background-color: azure; 
  padding: 20px 20px 20px 20px;
  }

.imgContainer{
  text-align: center;
  padding: 0 10px 0 10px;
  }

figure{
  display: inline-table; /*having 2 images, inline-table allowed the caption text to wrap based on image size. so images would be next to each other of bigger screens*/
  padding: 0 0 0 0;
  }

figcaption{
  display: table-caption; /*displays the caption within the image width*/
  caption-side: bottom; /*specifies the placement of the table-caption. as top is default*/
  font-variant: small-caps;
  font-weight: bold;
  color: red;
  text-align: center;
  margin: 0 0 0 0;
}